* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

/* CSS variables */
:root {
    --shadow-color: #6052db;
    --btn-color: #ff5d5d;
}

body {
    font-family    : 'Open-Sans', sans-serif;
    font-size      : 14px;
    min-height     : 100vh;
    width          : 100%;
    background     : #040007;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.code {
    font-size     : 20em;
    font-weight   : bold;
    text-transform: uppercase;
    color         : #050108;
    text-shadow   : -1px -1px 0px var(--shadow-color), 1px 1px 0px var(--btn-color);
}

.call-to-action {
    border          : 2px solid var(--btn-color);
    outline         : none;
    background-color: transparent;
    color           : var(--btn-color);
    text-transform  : uppercase;
    padding         : 12px 32px;
    font-weight     : bold;
    letter-spacing  : 1px;
    cursor          : pointer;
    transition      : background-color 0.2s;
}

.call-to-action:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.info {
    font-size     : 4.5em;
    text-transform: uppercase;
    color         : #fff;
    text-shadow   : 2px 3px 0px var(--shadow-color);
    letter-spacing: 8px;
    transform     : translateY(-180px);
}